.modalContent {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-rows: auto auto;
    align-items: center;
    justify-items: center;
}

.modalTitle {
    font-size: 32px;
    font-weight: 400;
    color: var(--black);
}

.modalButton {
    padding: 20px 30px;
    width: 250px;
    max-width: 400px;
    font-size: 24px;
    gap: 10px;
}