.timelineWrapper {
    display: flex;
    padding: 8px 0;
    width: 100%;
}

.timeline {
    width: 100%;
    border-radius: 6px;
    background: var(--greyLight);
    overflow: auto;
    margin-left: 5px;
}

.timeline.hide {
    opacity: .4;
    pointer-events: none;
}

.element {
    background: var(--decorate);
    border-radius: 6px;
}

.toggle {
    border-radius: 6px;
    width: 27px;
    height: 27px;
    padding: 5px;
}

.toggle img {
    margin-left: 5px;
}

.hide {
    opacity: .4;
}