
.button {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
    justify-content: center;
    cursor: pointer;
    padding: 5px 11px;
    align-items: center;
    width: 100%;
    max-width: 170px;
    border: 1px solid transparent;
    background-color: var(--primary);
    color: #000;
}

.button:hover {
    border: 1px solid #000;
    border-radius: 6px;
}

.button:active {
    background-color: var(--primaryHover);
}

.disabled {
    pointer-events: none;
    background-color: var(--primaryHover);
}
